.content{
    height: 65px;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 70px;
    border-bottom: 1.5px solid rgb(252, 196, 206);
}

.content__section1 {
    flex-direction: column;
    text-align: center;
}
.content__section2 {
    align-items: center;
    margin: 0 40px;
    flex-grow: 1;
}
.content__header__bigname {
    font-size: 30px;
    font-weight: bold;
}
.content__header__home, .content__header__resume, .content__header__projects {
    margin: 0 20px;
}
