.main__education{
    width: 100%;
    /* height: 500px; */
    height: auto;
    flex-direction: column;
}
.main__education__profile{
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    border: 1.3px solid  rgb(252, 196, 206);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.main__education__content{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    flex-direction: column;
}

.main__education__content__camp, .main__education__content__college, .main__education__content__hight{
    margin-bottom: 20px;
}
.main__education__camp__img, .main__education__college__img, .main__education__high__img {
    font-size: 25px;
    margin-right: 20px;
    /* position: relative;
    top: 5%; */
}
.main__education__campintro, .main__education__collegeintro, .main__education__highintro {
    line-height: 25px;
}


.date {
    color: rgb(251, 205, 213);
    font-weight: bold;
    
}
.education_name{
    font-weight: bold;
}
@media screen and (max-width: 100vw) {
    .main__education {
        height: 500px;
    }
    
}