.chat-screen__texts {
    padding: 0;
    list-style-type: none; /* 리스트의 기호가 사라짐 (점박이)*/
  
    /* height: calc(100% - 120px);  */
    height: calc(100% - 85px); /* 채팅창 높이를 늘림으로써 text form 부분과의 여백을 좀 줄임 / -120px은 여백이 너무 많다고 느꼈음*/
    
    z-index: 1;
    overflow:auto;

    margin: 5px;
}

.chat-screen__texts > .text {
    background-color: hotpink;
    width: 200px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius:  8px;
    line-height: 30px; /* 행 높이 / padding외 남는 공간을 가져감*/

    position: relative;
    left: 20px;

}

.chat-screen__texts > .text::after{
    content:"";
    border-right: 16px solid hotpink;
    border-bottom: 16px solid transparent; /* transparent : 투명도를 다루는 키워드 그럼 사걱형이 삼각형 모양으로 바뀜*/
    position: absolute;
    top: 10px;
    left: -10px;
}

.chat-screen__texts > .text:hover {
    background-color: palevioletred;
    transition: background-color 1500ms 200ms ease-in;
}


.chat-screen__texts > .text:hover::after{
    border-right: 16px solid palevioletred;
    transition: background-color 1500ms 200ms ease-in;
}