.last{
    width: auto;
    height: 45px;
    text-align: center;
    background-color: rgb(229, 225, 225);

}
.last__name {
    font-size: 13px;
    position: relative;
    top: 15px;
}


@media screen and (max-width: 1000px ) {
    .last, .last__name {
        display: none;

    }
}