.main__skill {
    width: 100%;
    height: 110px;
    flex-direction: column; 
}

.main__skill__SKILL{
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    border: 1.3px solid  rgb(252, 196, 206);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.main__skill__img{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    justify-content: center;
}


@media screen and (max-width: 1000px ) {
    .main__skill,.main__skill__img, .main__skill__SKILL{
        display: none;

    }
}


