.main__content{
    /* width: 1100px; */
    /* height: 900px; */
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    flex-grow: 1;
}
.main__simple {
    width: 100%;
    height: 200px;
    flex-direction: column;
}
.main__simple__profile{
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    border: 1.3px solid  rgb(252, 196, 206);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.main__simple__content {
    flex-grow: 1;
    margin-top: 25px;
    justify-content: space-between;
}
.main__simple__myresume{
    width: 100px;
    height:100px;
    background-color: red;
    margin-right: 30px;
    border-radius: 50px;
    text-align: center;
    color: white;
}
.main__simple__myresume__name, .main__simple__myproject__name{
    position: relative;
    top: 40%
}
.main__simple__myproject{
    width: 100px;
    height: 100px;
    background-color:aquamarine;
    margin-right: 50px;
    border-radius: 50px;
    text-align: center;
    color: white;
}
.main__simple__intro{
    width: 700px;
    height: 100px;
    flex-grow: 1;
    margin-top: 10px;
    line-height: 22px;

    z-index: 5;
    overflow: scroll;
}
.hi {
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-height){
    
}