.div{
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: mintcream;
    
}
.main{
    width: 340px;
    height: 50px;
    /* margin: 0 auto; */
    border: 3px solid rgb(176, 238, 238);
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    position: absolute;
    top: 50%;
    left: 50%; /*왼쪽 상단 모서리가 가운데 정렬되므로 */
    transform: translate(-50%, -50%); /* 자식 요소 전체를 중앙에 정렬하기 */
    color: rgb(147, 226, 226);
}

.width {
    width: 100px;
    height: 50px;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%; /*왼쪽 상단 모서리가 가운데 정렬되므로 */
    transform: translate(-50%, -50%); /* 자식 요소 전체를 중앙에 정렬하기 */
}
.pc, .ipad, .column, .low{
    padding-left: 10px;
    color: hotpink;
    font-weight: bold;
}

@media screen and (max-width: 100vw) {
    .pc, .ipad, .column, .low{
        display: none;
    }
}
@media screen and (max-width: 2000px) {
    .pc {
        display: inline-block;
    }
    .div {
        background-image: linear-gradient(to top left, pink, plum);   /* to로 시작하고 오른쪽 하단에서 시작하고 왼쪽 상단으로 그라데이션*/
    }
}

@media screen and (max-width: 1366px) {
    .ipad {
        display: inline-block;
    }
    .pc {
        display: none;
    }
    .div {
        background-image: linear-gradient(to top left, yellow, plum);   /* to로 시작하고 오른쪽 하단에서 시작하고 왼쪽 상단으로 그라데이션*/
    
    }
}

@media screen and (max-width:1024px){
    .column {
        display: inline-block;
    }
    .pc, .ipad {
        display: none;
    }
    .div {
        background-image: linear-gradient(to top left, pink, skyblue);   /* to로 시작하고 오른쪽 하단에서 시작하고 왼쪽 상단으로 그라데이션*/
    
    }
}

@media screen and (max-width: 414px) {
    .low {
        display: inline-block;
    }
    .pc, .ipad, .column{
        display: none;
    }
    .div {
        background-image: linear-gradient(to top left, mintcream, orange);   /* to로 시작하고 오른쪽 하단에서 시작하고 왼쪽 상단으로 그라데이션*/
    
    }
}

