*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    text-align: center;
    height: 100%;
    background-image: linear-gradient(to top left, pink, plum);   /* to로 시작하고 오른쪽 하단에서 시작하고 왼쪽 상단으로 그라데이션*/
    height: 200px;
    
} 
.center{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    background-color: white;
    border-radius: 10px;
    opacity: 0.8;
    
}

.oz{
    height: 50px;
    width: 150px;
    color: hotpink;
    font-size: 20px;
    border: 5px double skyblue; 
    margin: 10px;
    margin: 0;  
}
